*{ margin : 0; padding : 0;}
ul,li{ list-style: none;}
img{ display: block;}
html,body{ height:100%;}
html{
    font-size: 13.333333vw;
    /* 1vw = 3.75px 
       26.666667vw / 2 = 13.333333vw
    */
} 
body{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.headerConul li.active{
    font-size: 0.35rem;
    color: black;
}
/* header */




/* content */













/* footer */
